name: WINDOWS BOOTLOADER

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Install tools
        run: sudo apt-get update && sudo apt-get install -y p7zip-full

      - name: Download WinPE ISO
        run: |
          curl -o winpe.iso http://www.massam.jp/work/tools/winpe.iso
          echo "Download selesai."

      - name: Extract ISO
        run: 7z x winpe.iso -oWINPE

      - name: Replace boot.wim with empty file
        run: |
          find WINPE -type f -iname "boot.wim" -exec truncate -s 0 {} +
          echo "Semua boot.wim telah dikosongkan."

      - name: Create 7z Archive
        run: 7z a newfile.7z ./WINPE/*

      - name: Create Release Tag and Push
        id: create_tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME="v$(date +'%Y%m%d%H%M%S')"
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT
          
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          git tag $TAG_NAME
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git master --tags

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: newfile.7z
          tag_name: ${{ steps.create_tag.outputs.tag_name }}
          name: Release ${{ steps.create_tag.outputs.tag_name }}
          body: "Repack WinPE: boot.wim dikosongkan. Menggunakan curl -o."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
